.cytosnap
{
	display: block;
	position: relative;
	margin: auto;
	width:350px;
	height:350px;
	background-image: url('../img/cyto_underlayer.png');
}

.cytosnap img
{
	max-width: 350px;
	max-height: 350px;
}

.cytosnapOver
{
	position: absolute;
	top:0;
	left:0;
	width:350px;
	height:350px;
	background-image: url('../img/cyto_overlayer.png');
}

/* Override/extend some bootstrap style */
#qcm .btn
{
	margin-top: 5px;
}