<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cytotruc</title>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
</head>
<body>
	

<div>
	
<img id="img" src="" alt="">

</div>

<script type="text/javascript">
$(document).ready(function() {
    $.ajax({
        url: "http://localhost:5000/images/575891837141ea872dba1056"
    }).then(function(data) {
    	console.debug(data.results.path)
       $("#img").attr("src", data.results.path)
    
    });
});
	
</script>


</body>
</html>